* {
  margin: 0;
  padding: 0;
  transition: .2s;
}

::-webkit-scrollbar {
  width: 1px;
}
::-webkit-scrollbar-track {
  background: transparent; 
}
::-webkit-scrollbar-thumb {
  background: transparent; 
}
::-webkit-scrollbar-thumb:hover {
  background: transparent; 
}

.darkmode {

  .row, .container, * {
    background: #131312;
    transition: .2s;
  }
  .bx-moon {
    color: antiquewhite;
  }
}

.form-check {
  background: transparent;
  position: fixed;
  right: 1%;
  bottom: 1%;
}
.bx-moon {
  font-size: 1.5rem;
  color: #5c5c5c  ;
}