
.stacks h3 {
    font-size: 1.2rem;
    font-weight: 500;
}

.rl-arsenal-icon {
    width: 50px;
}
.rl-arsenal-name {
    font-size: .9rem;
}

.stacks img {
    width: 48px;
    padding: 3px;
    transition: .3s;
    cursor: pointer;
}
.stacks img:hover {
    padding: 5px;
    transition: .3s;
}
.stacks p {
    font-size: .8rem;
    font-weight: 600;
    color: #919191;
}

@media only screen and (min-width: 767px) and (max-width: 1023px)
{}

@media only screen and (min-width: 1024px) and (max-width: 1439px)
{}

@media only screen and (min-width: 1440px)
{}
