:root {
    --rl-primary: #0A0908;
    --rl-secondary: #6E6658;
    --rl-tertiary:  #252525;

    --rl-link: #2980B9;
    --rl-tertiary-text: #8f8f8f;

    --rl-tablet: 2rem;
    --rl-tablet-s: 1.1rem;
    --rl-tablet-text: .9rem;

    --rl-mobile: 1.8rem;
    --rl-mobile-s: 1rem;
    --rl-mobile-text: .7rem;
}

.rl-sub-header {
    font-weight: 600;
    color: var(--rl-primary);
}


.section-second .col-12 {
    margin-top: 1.5rem;
}

.section-second .col-lg-3 {
    margin-top: 2rem;
}

.section-second img {
    width: 45px;
}

.rl-tertiary-text {
    color: var(--rl-tertiary-text);
    font-weight: 600;
    font-size: .8em;
    padding-top: 3px;
}

