.footer-detail {
    color: rgb(187, 187, 187);
    text-decoration: none;
    font-size: .5rem;
}
.footer-text-head {
    font-size: .7rem;
}

a {
    text-decoration: none;
}
@media only screen and (min-width: 767px) and (max-width: 1023px)
{}

@media only screen and (min-width: 1024px) and (max-width: 1439px)
{}

@media only screen and (min-width: 1440px)
{}