* {
  padding: 0;
  margin: 0;
  background: #ffffff;
}

a {
  text-decoration: none;
}
p {
  font-size: 1.1rem;
}

::-webkit-scrollbar {
  width: 1px;
}
::-webkit-scrollbar-track {
  background: transparent; 
}
::-webkit-scrollbar-thumb {
  background: transparent; 
}
::-webkit-scrollbar-thumb:hover {
  background: transparent; 
}